<%- include('partials/checkout-header') %>

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="sr-root">
        <div class="sr-main">
          <h3>Registration Payment</h3>
          <form id="payment-form" class="sr-payment-form">
            <div class="sr-combo-inputs-row">
              <div class="sr-input sr-card-element" id="card-element"></div>
            </div>
            <div class="sr-field-error" id="card-errors" role="alert"></div>
            <button id="submit">
              <div class="spinner hidden" id="spinner"></div>
              <span id="button-text">Pay $<%= amount %></span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/scripts/checkout.js"></script>

<%- include('partials/footer') %>